{% extends "master.html" %}

{% block title %}
   Puntos CIP
{% endblock %}

{% block content %} 
<section class="gradient-custom-5">
    <div class="container py-5">
      <div class="main-timeline-5">
        {% for entry in entry_list%}
        <div class="timeline-5 right-5">
          <div class="card">
            <div class="card-body p-4">
              <h5>{{ entry.seccion }} rezaron un {{ entry.tipo_oracion }} (+{{entry.tipo_oracion.puntos}})</h5> 
              <span class="small text-muted"><i class="fas fa-clock me-1"></i>{{ entry.fecha }}</span>
            </br>
            </br>
              {% load static %} <img src="{% static entry.tipo_oracion.imagen  %}" width="100%"/>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
